<div class="container mt-5">
  <div>
    <button
      class="btn btn-sm btn-danger logout inline pull-right"
      (click)="signout()"
    >
      Sign Out
    </button>
  </div>
  <div>
    <h2 class="inline">Employees</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Designation</th>
          <th scope="col">Address</th>
          <th scope="col">Age</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let employee of employees"
          (click)="viewEmployeeDetails(employee.id)"
          style="cursor: pointer"
        >
          <th scope="row">{{ employee.id }}</th>
          <td>
            {{ employee.name }}
          </td>
          <td>{{ employee.designation }}</td>
          <td>{{ employee.address }}</td>
          <td>{{ employee.age | number }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
