<div class="mt-5 container  d-flex justify-content-center">
  <div class="border p-4">
    <h3>Employee {{ empId }} Details</h3>
    <hr />
    <div>
      <div>
        <label class="font-weight-bold">Name: </label> {{ employee.name }}
      </div>
      <div>
        <label class="font-weight-bold">Designation: </label>
        {{ employee.designation }}
      </div>
      <div>
        <label class="font-weight-bold">Age: </label> {{ employee.age }}
      </div>
      <div>
        <label class="font-weight-bold">Address: </label> {{ employee.address }}
      </div>
      <div>
        <label class="font-weight-bold">About Me: </label>
        <span class="d-block p-2 bg-light">{{ employee.aboutMe }}</span>
      </div>
    </div>
  </div>
</div>
